@model IEnumerable<Vehicle>
@{
    ViewData["Title"] = "Vehicle";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Vehicles</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <span data-toggle="tooltip" title="Add New Vehicle">
            <a asp-action="Add" class="btn btn-sm btn-outline-primary">
                <i class="fa fa-plus-circle"></i>&nbsp;
                Add
            </a>
        </span>
    </div>
</div>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table dataTables table-striped table-bordered" id="vehicles">
                <thead>
                    <tr>
                        <th>SN</th>
                        <th>Vehicle No</th>
                        <th>Model No</th>
                        <th>Color</th>
                        <th>Capacity</th>
                        <th>Owner Name</th>
                        <th>Driver Name</th>
                        <th>Driver Contact</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int sn = 1; }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@sn</td>
                            <td>@item.VehicleNo</td>
                            <td>@item.ModelNo</td>
                            <td>@item.Color</td>
                            <td>@item.PassengerCapacity</td>
                            <td>@item.OwnerName</td>
                            <td>@item.DriverName</td>
                            <td>@item.DriverContact</td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <span class="badge badge-success">Active</span>
                                }
                                else
                                {
                                    <span class="badge badge-danger">Deleted</span>
                                }
                            </td>
                            <td>
                                @if (item.IsActive)
                                {
                                    <a href="/Vehicle/Edit/?VehicleID=@item.VehicleID" data-toggle="tooltip" title="Edit" class="btn btn-sm btn-outline-warning"><i class="fa fa-edit"></i></a>
                                    <button type="button" data-toggle="tooltip" data-vehicleid="@item.VehicleID" title="Deactivate" class="btn btn-sm deactivate btn-outline-danger"><i class="fa fa-trash-o"></i></button>
                                }
                                else
                                {
                                    <button type="button" data-toggle="tooltip" data-vehicleid="@item.VehicleID" title="Activate" class="btn btn-sm activate btn-outline-primary"><i class="fa fa-check-circle-o"></i></button>
                                }
                            </td>
                        </tr>
                        sn++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(".deactivate").click(function () {
            var model = {
                VehicleID: $(this).data("vehicleid"),
                IsActive: false
            }
            $.post("/Vehicle/ChangeVehicleStatus", { vehicle: model }, function (response) {
                showMessage(response.message, response.messageType);
            });
        });

        $(".activate").click(function () {
            var model = {
                VehicleID: $(this).data("vehicleid"),
                IsActive: true
            }
            $.post("/Vehicle/ChangeVehicleStatus", { vehicle: model }, function (response) {
                showMessage(response.message, response.messageType);
            });
        });
    </script>
}